* {
    margin: 0px;
}

.full {
    display: flex;
}

.left {
    display: flex;
    height: auto;
    width: 40vw;
    height: 100vh;
    background: url('daniel-castellon-OyGLhrZmHLQ-unsplash.jpg') center center;
}

.logo {
    display: flex;
    background-color: rgba(255, 253, 253, 0.7);
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    top: 50px;
    width: 100vw;
    height: 15vh;
}

.right {
    background-color: rgb(163, 230, 104);
}


.insideright p {

   font-size: 25px;
   font-weight: bolder;
   padding: 10px;
   line-height: 25px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 50px;
    padding-right: 20px;
    gap: 20px;
    background-color: rgb(33, 144, 213)
}
#right{
    width: 100%;
}
.input{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    /* font-size: 0.7rem; */
    /* text-transform: uppercase; */
    opacity: 50%;
}
/*
.input {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

label {
    color: white;
    transform: uppercase;
}

.insideleft p {
    color: white;
    font-size: larger;
    font-weight: 900;
    padding: 0px 50px;
    letter-spacing: 1px;
}
button{
    color: blue;
    background-color: yellow;
    margin: 30px;
    padding: 5px 20px;
    margin-left: 90px;
    border-radius: 5px;
}
#signin {
    color:blue;
    padding: 50px;
} */
