* {
    margin: 0px;
    color: rgb(254, 231, 21);
    box-sizing: border-box;
}

.full {
    display: flex;
}

.left {
    display: flex;
    width: 40vw;
    /* height: 100vh; */
    background: url('daniel-castellon-OyGLhrZmHLQ-unsplash.jpg') center center;
    background-color: black;

}

h1 {
    color: black;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: rgb(254, 231, 21);
    position: relative;
    top: 50px;
    width: 100vw;
    height: 15vh;
}

.right {
    background-color: black;
}


.insideright p {

    font-size: 25px;
    font-weight: lighter;
    padding: 40px;
    padding-left: 40px;
    line-height: 25px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0px 20px 30px 50px;
    gap: 20px;
    background-color: rgb(254, 231, 21);
}

.formheading {
    color: black;

    font-weight: bolder;
    font-size: x-large;

    width: 100%;

    padding: 10px;

}


.input {
    display: flex;
    flex-flow: column wrap;

    width: 40%;
    /* font-size: 0.7rem; */
    /* text-transform: uppercase; */
}

.input input {
    background-color: black;
    padding: 5px;
}

label {
    color: black;
    transform: uppercase;
}



button {
    color: black;
    background-color: rgb(254, 231, 21);
    margin: 30px;
    padding: 7px 20px;
    margin-left: 40px;
    border-radius: 5px;
}

#signin {
    color: rgb(254, 231, 21);
    padding-left: 40px;
}
