* {
    margin: 0px;
    color: rgb(254, 231, 21);
    box-sizing: border-box;
}

.full {
    display: flex;
}

.left {
    display: flex;
    width: 40vw;
    /* height: 100vh; */
    /* background: url('daniel-castellon-OyGLhrZmHLQ-unsplash.jpg') center center; */
    background-color: black;

}

.left > img {
    height: 100vh;
    min-width: 40vw;
    object-fit: cover;
}

h1 {
    color: black;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: rgb(254, 231, 21);
    position: absolute;
    top: 50px;
    width: 40vw;
    height: 15vh;
}

.right {
    background-color: black;
    height: 100vh;
}


.insideright p {

    font-size: 20px;
    font-weight: lighter;
    padding: 20px;
    padding-left: 40px;
    line-height: 25px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0px 20px 30px 50px;
    gap: 20px;
    background-color: rgb(254, 231, 21);
    box-shadow: 0 5px 10px rgba(255, 255, 255);
}

.formheading {
    color: black;

    font-weight: bolder;
    font-size: x-large;

    width: 100%;

    padding: 10px;

}


.input {
    display: flex;
    flex-flow: column wrap;

    width: 40%;
    /* font-size: 0.7rem; */
    /* text-transform: uppercase; */
}

.input input {
    background-color: black;
    padding: 5px;
    border-radius: 10px;
}

label {
    color: black;
    transform: uppercase;
}

button {
    color: black;
    background-color: rgb(254, 231, 21);
    margin: 30px;
    padding: 7px 20px;
    margin-left: 40px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(255, 255, 255);
}
button:hover{
    color:  rgb(254, 231, 21);
    background-color: black;
}

#signin {
    color: rgb(254, 231, 21);
    padding-left: 40px;
}


@media screen and (max-width: 820px) {
    body {
        flex-direction: column;
        height: auto;
    }

    .full {
        display: block;
    }

    .left {
        min-height: 30vh;
        max-height: 100%;
        width: 100%;

    }

    .insideright p {
        padding: 20px;
    }
    .left > img {
        height: 50vh;
        width: 100vw;
    }

    .logo {
        width: 100vw;
    }

    form {
        width: 100%;
    }

    form>div {
        min-width: 250px;
        width: 40%;
    }

    input {
        width: 100%;
    }
}
